.App {
  background-color: beige;
  width: 500px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding-top:115px;
  box-sizing: border-box;
  color:rgb(110, 109, 109)
}

a{
  text-decoration: none;
  color: brown;
}

button{
  margin: 8px;
  padding: 5px;
  cursor: pointer;
  color: brown;
  background-color: rgb(113, 192, 192);
  border: none;
  border-radius: 2px;
}
